@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="mb-4">Display Names is a small MVC app that:</h2>
    <ul class="mx-auto" style="width: fit-content">
        <li>
            <h5>generates fake data using <a href="https://github.com/bchavez/Bogus">Bogus</a></h5>
        </li>
        <li>
            <h5>and uses <a href="https://redis.io/">Redis</a> for caching,</h5>
        </li>
        <li>
            <h5>running in a <a href="https://www.docker.com/">Docker</a> container.</h5>
        </li>
    </ul>
     
</div>
